@font-face {
  font-family: 'Guardian Sans Web';
  src: url('https://s3.amazonaws.com/gdn-pub/fonts/ascii/Guardian Sans Web-Regular.eot');
  src: url('https://s3.amazonaws.com/gdn-pub/fonts/ascii/Guardian Sans Web-Regular.eot?#iefix') format('embedded-opentype'),
  url('https://s3.amazonaws.com/gdn-pub/fonts/ascii/Guardian Sans Web-Regular.woff') format('woff'),
  url('https://s3.amazonaws.com/gdn-pub/fonts/ascii/Guardian Sans Web-Regular.ttf') format('truetype'),
  url('https://s3.amazonaws.com/gdn-pub/fonts/ascii/Guardian Sans Web-Regular.svg#Guardian Sans Web') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Guardian Egyptian Bold';
  src: url('fonts/EgyptianHeadline-Semibold-redux.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'TextWebEgyptian-Regular';
  src: url('https://s3.amazonaws.com/gdn-pub/fonts/ascii/Guardian Text Egyp Web-Reg.eot');
  src: url('https://s3.amazonaws.com/gdn-pub/fonts/ascii/Guardian Text Egyp Web-Reg.eot?#iefix') format('embedded-opentype'),
  url('https://s3.amazonaws.com/gdn-pub/fonts/ascii/Guardian Text Egyp Web-Reg.woff') format('woff'),
  url('https://s3.amazonaws.com/gdn-pub/fonts/ascii/Guardian Text Egyp Web-Reg.ttf') format('truetype'),
  url('https://s3.amazonaws.com/gdn-pub/fonts/ascii/Guardian Text Egyp Web-Reg.svg#Guardian Egyptian Web') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}




html{
  font-size:62.5%;
}


.clearboth{
  clear:both;
}

.gu-interactive {
  font-family: TextWebEgyptian-Regular, Georgia, serif;
  color: #333;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}
.primaryImageOfPage{
      padding: 0;
      margin: 0 -10px;
    }

.mainImage{
  width:100%;
}

.divider{
  border-top: 1px dotted #e3e3db;
  margin: 22px auto 22px;
  width: 100px;
}

h2{
  font-family: 'Guardian Egyptian Bold', Arial, Georgia, serif;
  font-size: 2.4rem;
  text-align: center;
  font-weight: normal;
}

h3{ 

  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: normal;
  text-align: center;

}

.newDrawBtn{
  -webkit-font-smoothing: antialiased;
  padding: 20px 28px 18px;
  margin: 20px auto 0;
  display: block;
  background: #3A84B1;
  color: #fff;
  border-radius: 3px;
  font-size: 18px;
  font-weight: normal;
  font-family: 'Guardian Egyptian Bold', Arial, Georgia, serif;
  cursor: pointer;
  border: 1px solid #246892;
  margin-bottom:70px;
}


.groupStageWrapper{
  border-top:1px solid #ddd;
  margin-top: 0;
}
.groupStage{
  margin-top: 20px;
  margin-bottom: 40px;
}

.currentStatus{
  border: 1px dashed #ccc;
  padding-top: 15px;
  background: #FFFEF2;
  margin-top:20px;
  -webkit-transition:opacity 0.5s linear;
}

.currentStatus p{
  height: 30px;
  font-size: 12px;
  font-family: arial;
  margin: 0;


  
  font-style:italic;
  text-align: center;
}

.currentStatus p strong{
  /*display:block;
  font-style:normal;
  margin-bottom:2px;*/
}


.group{
  min-width: 145px;
  width: 48%;
  margin: 0 1.5% 20px;
  float: left;
}
.images{
  height: 0;
  padding-bottom:33%;
  position: relative;
  background:#eee;
}

.images img{
  opacity:0;
  -webkit-transition: opacity 0.5s linear;
}


.group:nth-of-type(2n + 1){
  margin-left: 0;
}

.group:nth-of-type(2n){
  margin-right: 0;
}

h4{
  font-size: 2rem;
  font-weight: normal;
  border-bottom: 2px solid #ececec;
  margin: 0;
  padding-bottom: 1rem;
}

.teamPhoto{
  width:50%;
  height: auto;
  margin: 0;
  float: left;
}
.teamPhoto2, .teamPhoto3{
  display: none;
}

.teams ul{
  list-style: none;
  margin:0;
  padding:0;
}

.teams ul li{
  font-family: Guardian Sans Web, Arial;
  border-top: 1px solid #ececec;
  padding: 4px 0;
  opacity:0;
  -webkit-transition: opacity 0.2s linear;
}

.teams ul li:nth-of-type(1){
  
  border-top: none;
}

.team0 .countryFlag, .team0 .teamName, .team0 .teamInfo, .team0 .championshipwinner{
  float:right;
}
.team0 .championshipwinner{
  margin-right: 5px;
}

.countryFlag{
  width: 14px;
  height: 12px;
  margin: 4px 5px 0;
  float: left;
}

.teamInfo{
  float: left;
  width: 82%;
  margin-top: 3px;
}
.teamName{
  font-size: 1.5rem;
  float: left;
}

.finals .teamName{
  color: #777;
}
.winner{
  width: 6px;
  height: 6px;
  background: green;
  float: right;
  margin-top: 5px;
  border-radius: 3px;
}

.championshipwinner{
  width: 12px;
  height: 15px;
  background: url(../imgs/cup.png);
  background-size: 12px, 15px;
  float: left;

  margin-left:5px;
}
.teamPot{
  font-size: 1rem;
  color: #999;
  margin-top:2px;
}

.share{
  text-align: center;
  margin: 10px 0 40px;
}

.share p{
  font-size:16px;
  margin-top: 0;
}

.share img{
  width: 30px;
  height: 30px;
  position: relative;
  top:14px;
  margin-right: 2px;
}
.shareButtons{
  display: block;
  margin: 0 auto;
}


.knockout_wrapper{
  margin-top: 40px;
  
}

.finalsTitle{
  font-family: 'Guardian Egyptian Bold', Arial, Georgia, serif;
  font-size: 2.6rem;
  margin-bottom: 0;
}

.final{
  margin-bottom: 40px;
}

.title{

  border-bottom: 2px solid #ccc;
  padding: 10px 0 0;
  margin: 20px 0 0;
}

.title h4{
  text-align: center;
  border: none;
  font-size: 20px;
}

.quarterfinals{
  margin-top:20px;
}

.match{
  float: left;
  width: 100%;
  border-bottom: 1px solid #ccc;

}

.match .team{
  width: 47%;
  float: left;
  font-family: Guardian Sans Web, Arial;
  padding: 4px 0;
}

.team0{
  text-align: right;
}

.finalswinner .teamName{
  color: #333;
  /*font-weight:bold;*/
  font-family: Guardian Egyptian Bold;

  /*background: #f5d47a;*/
}

.teamSeparator0{
  width:2%;
  height:1px;
  margin: 19px 2% 0;
  background: #333;
  float: left;
}

.imageOverlay{
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.4);
  display:block;
  margin: 0 auto;
  position: absolute;
  top:0;
}

.champions{
  position: relative;
  padding-bottom:67%;
  height:0;
}

.champions img{
  width: auto;
  height: auto;
  margin: 0;
  top: 0;
  width: 100%;
}

.champions .shareButtons{
  width:auto;
  height:44px;
  top:0;
  left:0;
  position:absolute;
  right:0;
  bottom:0;
  margin: auto;

}



#topBar{
  height:48px;
  width: 100%;
  background: rgba(255,255,255,0.8);
  margin: 0 -10px;
  position: fixed;
  top:0;
  text-align:center;
  z-index:5;
  visibility: hidden;
}


#topBar .reDrawBtn{
  background: #126191;
  border: none;
  color: #fff;
  border-radius: 3px;
  padding: 11px 14px 10px;
  margin-top:5px;
  font-size: 13px;
  font-family: Helvetica, Artial;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid #265D80;
}

#topBar .reDrawBtn img{
  margin-right: 5px;
  position:relative;
  height: 10px;
  width: 10px;
}

.tube{
    width:17px;
    position:relative;
    background: rgba(18,97,145,0.2);
    margin-left: 10px; 
    margin-top: 50px;
    padding: 10px 1px 0;
    float: left;
    z-index: 10;
    height: 142px;
}

.top{
    width: 19px;
    height: 10px;
    background: #5e96b9;
    margin-top:-15px;
    margin-left:-1px;
    margin-bottom:10px;
    border-radius:50%;
}

.balls{
    padding-top:1px;
    margin-top:-1px;

}

.ball{ 
    position:relative;
    width: 17px;
    background: url(../imgs/ball.png);
    background-size:17px 17px;
    height: 17px;
    -webkit-transition: margin 0.3s ease-in;
    z-index:1;
}

.moving{
    position:absolute;
    bottom: -60px;
    -webkit-transition: all 0.4s ease-in;
}

.bottom{
    width: 19px;
    height: 10px;
    background: #0d3d5a;
    margin-left:-1px;
    border-radius:50%;
    position:absolute;
    bottom:-5px;
}

.bottomBg{
    background: rgba(158,204,232,0.8);
    width: 19px;
    height:5px;
    left:0;
    bottom: -6px;
    position: absolute;
    z-index:-1;
}

.bottomTube{
    width:17px;
    position:absolute;
    background: rgba(158,204,232,0.8);
    left:0;
    padding: 10px 1px 0;
    float: left;
    z-index: 10;
    height: 50px; 
    bottom: -65px;
}

.hideBlock{
    width: 600px;
    height: 100px;
    background: #fff;
    box-shadow: 0 -1px 5px rgba(0,0,0,0.2);
    float: left;
    position: relative;
    z-index: 10;
    margin-top:50px;

}






@media (min-width: 41.25em) {

  .primaryImageOfPage{
    margin: 0;
  }
  h2{font-size: 3rem;}
  h3{font-size:2rem;}
  
  .group{
  width: 32%;
  margin: 0 1% 20px;
  }

  .group:nth-of-type(2n + 1),.group:nth-of-type(2n){
  margin:0 1% 20px;
  }

  .group:nth-of-type(3n + 1){
  margin-left: 0;
  }

.group:nth-of-type(3n){
margin-right: 0;
}

.share{
  text-align: center;
  margin: -5px 0 40px;
}

.share img{
  width: 30px;
  height: 30px;
  position: relative;
  top:9px;
}

  .share .champions img{
  width: 300px;
  height: auto;
  top:0;
}
.imageOverlay{
  width:300px;
  height:200px;
  margin: 0 auto;
  left:0;
  right:0;
}
.shareButtons{
    display: inline;
    margin: 0;
}

#topBar{
  display: none;
}

.clearboth{
    clear:both;
}

}
  


@media (min-width: 61.25em) {
    .g-content { width: 60%; max-width: 620px; margin:0; float: left; }

}

@media (min-width: 81.25em) {
    .group:nth-of-type(3n){
    float: right;
      }

    .g-body { width: 1260px; margin: 0 auto; }
    .g-content { width: 620px; }
    .g-col1 { display: block; float: left; width: 220px; padding: 100px 0 0 10px; }
    .g-col2 { display: block; float: right; width: 300px; padding: 100px 10px 0 0; }
}



