




html{
  font-size:62.5%;
}


.clearboth{
  clear:both;
}

.gu-interactive {
  font-family: 'Guardian Egyptian Text', Arial, serif;
  color: #333;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}
.primaryImageOfPage{
      padding: 0;
      margin: 0 -10px;
    }

.mainImage{
  width:100%;
}

.divider{
  border-top: 1px dotted #e3e3db;
  margin: 22px auto 22px;
  width: 100px;
}

h2{
  font-family: 'Guardian Egyptian Headline', Arial, Georgia, serif;
  font-size: 2.4rem;
  text-align: center;
  font-weight: 600;
}

h3{ 

  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: normal;
  text-align: center;

}

.newDrawBtn{
  -webkit-font-smoothing: antialiased;
  padding: 20px 28px 18px;
  margin: 20px auto 0;
  display: block;
  background: #3A84B1;
  color: #fff;
  border-radius: 3px;
  font-size: 18px;
  font-weight: 600;
  font-family: 'Guardian Egyptian Headline', Arial, Georgia, serif;
  cursor: pointer;
  border: 1px solid #246892;
  margin-bottom:30px;
}

.moreInformation{
  margin-top:30px;
  margin-bottom:20px;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: 0.2s all linear;
}

.moreInformation p.invisible{
  display:block;
}

.moreInformation h4{
  text-align: center;
  font-family: Arial;
  font-size:12px;
  font-weight: bold;
  border:none;
  color:#777;
}
.moreInformation p{
  line-height: 18px;
  font-family: Arial;
  font-size:12px;
  display: none;
}
.groupStageWrapper{
  border-top:1px solid #ddd;
  margin-top: 0;
}
.groupStage{
  margin-top: 20px;
  margin-bottom: 20px;
}

.currentStatus{
  border: 1px dashed #ccc;
  padding-top: 15px;
  background: #FFFEF2;
  margin-top:20px;
  -webkit-transition:opacity 0.5s linear;
}

.currentStatus p{
  height: 30px;
  font-size: 12px;
  font-family: arial;
  margin: 0;


  
  font-style:italic;
  text-align: center;
}

.currentStatus p strong{
  /*display:block;
  font-style:normal;
  margin-bottom:2px;*/
}


.group{
  min-width: 145px;
  width: 49%;
  margin: 0 2% 20px 0;
  float: left;
}
.images{
  height: 0;
  padding-bottom:33%;
  position: relative;
  background:#fcfcfc;
  display:none;
}

.images img{
  opacity:0;
  -webkit-transition: opacity 0.5s linear;
}



.group:nth-of-type(2n){
  margin-right: 0;
}

h4{
  font-size: 2rem;
  font-weight: normal;
  border-bottom: 2px solid #ececec;
  margin: 0;
  padding-bottom: 1rem;
}

.teamPhoto{
  width:50%;
  height: auto;
  margin: 0;
  float: left;
  display:none;
}
.teamPhoto2, .teamPhoto3{
  display: none;
}

.teams ul{
  list-style: none;
  margin:0;
  padding:0;
}

.teams ul li{
  font-family: Guardian Sans Headline, Arial;
  border-top: 1px solid #ececec;
  padding: 4px 0;
  opacity:0;
  -webkit-transition: opacity 0.2s linear;
  font-weight: normal;
}
.teams ul li.ranked{
  display:none;
  opacity:0;
}

.teams ul li:nth-of-type(1){
  
  border-top: none;
}

.team0 .countryFlag, .team0 .teamName, .team0 .teamInfo, .team0 .championshipwinner{
  float:right;
}
.team0 .championshipwinner{
  margin-right: 5px;
}

.countryFlag{
  width: 12px;
  height: 12px;
  margin: 4px 5px 0;
  float: left;
}

.teamInfo{
  float: left;
  width: 82%;
  margin-top: 3px;
}
.teamName{
  font-size: 1.4rem;
  float: left;
}

.finals .teamName{
  color: #777;
}
.winner{
  width: 6px;
  height: 6px;
  background: green;
  float: right;
  margin-top: 5px;
  border-radius: 3px;
  opacity:0;
}

.championshipwinner{
  width: 12px;
  height: 15px;
  background: url(../imgs/cup.png);
  background-size: 12px, 15px;
  float: left;

  margin-left:5px;
}
.teamPot{
  font-size: 1rem;
  color: #999;
  margin-top:2px;
}

.share{
  text-align: center;
  margin: 10px 0 40px;
}

.share p{
  font-size:16px;
  margin-top: 0;
}

.shareButtons{
  display: block;
  margin: 0 auto;
}

.showWinners{
  margin-bottom:10px;
  margin-top:0;
}

.disclaimerWinners{
  margin: 0 auto 50px;
  text-align: center;
}

.knockout_wrapper{
  margin-top: 40px;
  display:none;
}

.finalsTitle{
  font-family: 'Guardian Egyptian Text', Arial, Georgia, serif;
  font-size: 2.6rem;
  margin-bottom: 0;
  font-weight:500;
}

.final{
  margin-bottom: 40px;
}

.title{

  border-bottom: 2px solid #ececec;
  padding: 10px 0 0;
  margin: 20px 0 0;
}

.title h4{
  text-align: center;
  border: none;
  font-size: 20px;
}

.quarterfinals{
  margin-top:20px;
}

.match{
  float: left;
  width: 100%;
  border-bottom: 1px solid #ccc;

}

.final .match .team {
  padding: 4px 0 6px;
}

.match .team{
  width: 47%;
  float: left;
  font-family: Guardian Sans Headline, Arial;
  padding: 4px 0;
}

.team0{
  text-align: right;
}

.finalswinner .teamName{
  color: #333;
  font-family: 'Guardian Agate Sans';
  font-weight:bold;
}

.teamSeparator0{
  width:2%;
  height:1px;
  margin: 19px 2% 0;
  background: #333;
  float: left;
}

.imageOverlay{
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.4);
  display:block;
  margin: 0 auto;
  position: absolute;
  top:0;
}

.champions{
  position: relative;
  padding-bottom:67%;
  height:0;
}

.champions img{
  width: auto;
  height: auto;
  margin: 0;
  top: 0;
  width: 100%;
}

.champions .shareButtons{
  width:auto;
  height:44px;
  top:0;
  left:0;
  position:absolute;
  right:0;
  bottom:0;
  margin: auto;

}



#topBar{
  height:36px;
  width: 100%;
  background: rgba(255,255,255,0.8);
  margin: 0 -10px;
  position: fixed;
  top:0;
  z-index:5;
  visibility: hidden;
}





.reDrawBtn{
  -webkit-font-smoothing: antialiased;
  background: #3A84B1;
  border: none;
  color: #fff;
  border-radius: 3px;
  padding: 8px 8px 7px;
  margin-top:4px;
  font-size: 12px;
  font-family: Helvetica, Artial;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid #246892;
}

.reDrawBtn img{
  margin-right: 5px;
  position:relative;
  height: 10px;
  width: 10px;
}

#topBar .reDrawBtn{
  left:0;
  right:0;
  margin:3px auto;
  position:absolute;
  width:80px;
}

.share .reDrawBtn{
  -webkit-font-smoothing: antialiased;
  padding: 8px 8px 7px;
}

.share .reDrawBtn img{
  margin-right: 2px;
}


@media (min-width: 41.25em) {
  .primaryImageOfPage{
    margin: 0;
  }
  h2{font-size: 3rem;}
  h3{font-size:1.8rem;}
  
  .group{
  width: 32%;
  margin: 0 2% 20px 0;
  }

  .group:nth-of-type(2n + 1),.group:nth-of-type(2n){
  margin:0 2% 20px 0;
  }

  .group:nth-of-type(3n){
  margin-right: 0;
  }

.share{
  text-align: center;
  margin: -5px 0 40px;
}

  .share .champions img{
  width: 300px;
  height: auto;
  top:0;
}
.imageOverlay{
  width:300px;
  height:200px;
  margin: 0 auto;
  left:0;
  right:0;
}
.shareButtons{
    display: inline;
    margin: 0;
}

#topBar{
  display: none;
}

.clearboth{
    clear:both;
}

.champions{
  height: auto;
  width: auto;
  padding-bottom:0;
}

.images{
  display:block;
}

.teamPhoto{
  display:block;
}

.teamPhoto2, .teamPhoto3{
  display: none;
}

}
  


@media (min-width: 61.25em) {
    .g-content { width: 60%; max-width: 620px; margin:0; float: left; }

}

@media (min-width: 81.25em) {
    .group:nth-of-type(3n){
    float: right;
      }

      .group{
        width:23.5%;
        margin-right:2%;
      }


  .group:nth-of-type(2n + 1),.group:nth-of-type(2n){
  margin-right: 2%;
  margin-left: 0;
  }

  .group:nth-of-type(3n + 1){
  margin-left: 0;
  }

.group:nth-of-type(3n){
margin-right: 2%;
float:left;
}
.group:nth-of-type(4n){
margin-right: 0;
}

    .g-body { width: 1260px; margin: 0 auto; }
    .g-content { width: 620px; }
    .g-col1 { display: block; float: left; width: 220px; padding: 100px 0 0 10px; }
    .g-col2 { display: block; float: right; width: 300px; padding: 100px 10px 0 0; }
}





