
html{
  font-size:62.5%;
}


.clearboth{
  clear:both;
}

.gu-interactive {
  font-family: 'Guardian Egyptian Text', Arial, serif;
  color: #333;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}
.gu-interactive .primaryImageOfPage{
      padding: 0;
      margin: 0 -10px;
    }

#content .gu-interactive .primaryImageOfPage{
  display:none;
}

#content .divider{
  margin-top:60px !important;
  visibility: hidden;
}



.gu-interactive .mainImage{
  width:100%;
}

.gu-interactive .divider{
  border-top: 1px dotted #e3e3db;
  margin: 22px auto 22px;
  width: 100px;
}

.gu-interactive h2{
  font-family: 'Guardian Egyptian Headline', Arial, Georgia, serif !important;
  font-size: 2.4rem !important;
  text-align: center !important;
  border: none !important;
  font-weight: 600 !important;
}

.gu-interactive h3{ 
  font-family: 'WebEgyptian-Regular', Arial, Georgia, serif !important;
  font-size: 1.6rem !important;
  line-height: 2.6rem !important;
  font-weight: normal !important;
  text-align: center !important;
  max-width: 640px;
  margin: 0 auto;
}

.gu-interactive .newDrawBtn{
  -webkit-font-smoothing: antialiased;
  padding: 20px 28px 18px;
  margin: 20px auto 0;
  display: block;
  background: #3A84B1;
  color: #fff;
  border-radius: 3px;
  font-size: 18px;
  font-weight: 600;
  font-family: 'Guardian Egyptian Headline', Arial, Georgia, serif;
  cursor: pointer;
  border: 1px solid #246892;
  margin-bottom:30px;
}

.gu-interactive .moreInformation{
  margin-top:30px;
  margin-bottom:20px;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: 0.2s all linear;
}

.gu-interactive .moreInformation p.invisible{
  display:block;
}

.gu-interactive .moreInformation h4{
  text-align: center;
  font-family: Arial;
  font-size:12px;
  font-weight: bold;
  border:none;
  color:#777;
}
.gu-interactive .moreInformation p{
  line-height: 18px;
  font-family: Arial;
  font-size:12px;
  display: none;
  max-width:640px;
  margin: 0 auto;
}
.gu-interactive .groupStageWrapper{
  border-top:1px solid #ddd;
  margin-top: 0;
}
.gu-interactive .groupStage{
  margin-top: 20px;
  margin-bottom: 20px;
}

.gu-interactive .currentStatus{
  border: 1px dashed #ccc;
  padding-top: 15px;
  background: #FFFEF2;
  margin-top:20px;
  -webkit-transition:opacity 0.5s linear;
}

.gu-interactive .currentStatus p{
  height: 30px;
  font-size: 12px;
  font-family: arial;
  margin: 0;


  
  font-style:italic;
  text-align: center;
}

.gu-interactive .currentStatus p strong{
  /*display:block;
  font-style:normal;
  margin-bottom:2px;*/
}


.gu-interactive .group{
  min-width: 145px;
  width: 49%;
  margin: 0 2% 20px 0;
  float: left;
}
.gu-interactive .images{
  height: 0;
  padding-bottom:33%;
  position: relative;
  background:#fcfcfc;
  display:none;
}

.gu-interactive .images img{
  opacity:0;
  -webkit-transition: opacity 0.5s linear;
}



.gu-interactive .group:nth-of-type(2n){
  margin-right: 0;
}

.gu-interactive h4{
  font-size: 2rem;
  font-weight: normal;
  border-bottom: 2px solid #ececec;
  margin: 0;
  padding: 0 0 1rem 0;
  background-color: transparent;
  border-top: none;
}

.gu-interactive .teamPhoto{
  width:50%;
  height: auto;
  margin: 0;
  float: left;
  display:none;
}
.gu-interactive .teamPhoto2, .gu-interactive .teamPhoto3{
  display: none;
}

.gu-interactive .teams ul{
  list-style: none;
  margin:0;
  padding:0;
}

.gu-interactive .teams ul li{
  font-family: Guardian Sans Headline, Arial !important;
  border-top: 1px solid #ececec !important;
  padding: 4px 0 !important;
  opacity:0;
  -webkit-transition: opacity 0.2s linear !important;
  font-weight: normal !important;
  margin-bottom:0 !important;
  overflow: visible !important;
}
.gu-interactive .teams ul li.ranked{
  display:none;
  opacity:0;
}

.gu-interactive .teams ul li:nth-of-type(1){
  
  border-top: none;
}

.gu-interactive .team0 .countryFlag, .gu-interactive .team0 .teamName, .gu-interactive .team0 .teamInfo, .gu-interactive .team0 .championshipwinner{
  float:right;
}
.gu-interactive .team0 .championshipwinner{
  margin-right: 5px;
}

.gu-interactive .countryFlag{
  width: 12px;
  height: 12px;
  margin: 4px 5px 0;
  float: left;
}

.gu-interactive .teamInfo{
  float: left;
  width: 82%;
  margin-top: 3px;
}
.gu-interactive .teamName{
  font-size: 1.4rem;
  float: left;
  line-height:normal;
}

.gu-interactive .finals .teamName{
  color: #a0a0a0;
}
.gu-interactive .winner{
  width: 6px;
  height: 6px;
  background: green;
  float: right;
  margin-top: 5px;
  border-radius: 3px;
  opacity:0;
}

.gu-interactive .championshipwinner{
  width: 12px;
  height: 15px;
  background: url(../imgs/cup.png);
  background-size: 12px, 15px;
  float: left;

  margin-left:5px;
}
.gu-interactive .teamPot{
  font-size: 1rem;
  color: #999;
  margin-top:2px;
}

.gu-interactive .share{
  text-align: center;
  margin: 10px 0 40px;
}

.gu-interactive .share p{
  font-size:16px;
  margin-top: 0;
}

.gu-interactive .shareButtons{
  display: block;
  margin: 0 auto;
}

.gu-interactive .shareButtons svg:hover g{
  fill:#ddd;
}

.gu-interactive .shareButtons svg.facebookIcon:hover path{
  fill:#ddd;
}

.gu-interactive .shareButtons svg.facebookIcon:hover path.fbIconStroke{
  fill:transparent;
  stroke:#ddd;
}


.gu-interactive .shareButtons p{
  margin-bottom:4px;
  color:#fff;
  font-family: Arial;
  font-weight:bold;
}

.gu-interactive .showWinners{
 margin-bottom:10px;
  margin-top:0;
}

.gu-interactive .disclaimerWinners{
  margin: 0 auto 50px;
  text-align: center;
  font-size:12px;
  font-family:Arial;
}

.gu-interactive .knockout_wrapper{
  margin-top: 40px;
  display:none;
}

.gu-interactive .finalsTitle{
  font-family: 'Guardian Egyptian Text', Arial, Georgia, serif !important;
  font-size: 2.6rem !important;
  margin-bottom: 0 !important;
  font-weight:500 !important;
  margin-top:26px !important;
}

.gu-interactive .final{
  margin-bottom: 40px;
}

.gu-interactive .title{

  border-bottom: 2px solid #ececec;
  padding: 10px 0 0;
  margin: 20px 0 0;
}

.gu-interactive .title h4{
  text-align: center;
  border: none;
  font-size: 20px;
}

.gu-interactive .quarterfinals{
  margin-top:20px;
}
.gu-interactive .matches{
  background:transparent;
  }

.gu-interactive .match{
  float: left;
  width: 100%;
  border-bottom: 1px solid #ccc;

}

.gu-interactive .final .match .team {
  padding: 4px 0 6px;
}

.gu-interactive .match .team{
  width: 47%;
  float: left;
  font-family: Guardian Sans Headline, Arial;
  padding: 4px 0;
}

.gu-interactive .team0{
  text-align: right;
}

.gu-interactive .finalswinner .teamName{
  color: #333;
  font-family: 'Guardian Agate Sans';
  font-weight:bold;
  line-height:normal;
}

.gu-interactive .teamSeparator0{
  width:2%;
  height:1px;
  margin: 19px 2% 0;
  background: #333;
  float: left;
}

.gu-interactive .imageOverlay{
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.4);
  display:block;
  margin: 0 auto;
  position: absolute;
  top:0;
}

.gu-interactive .champions{
  position: relative;
  padding-bottom:67%;
  height:0;
  margin-top:16px;
}

.gu-interactive .champions img{
  width: auto;
  height: auto;
  margin: 0;
  top: 0;
  width: 100%;
}

.gu-interactive .champions .shareButtons{
  width:auto;
  height:70px;
  top:0;
  left:0;
  position:absolute;
  right:0;
  bottom:0;
  margin: auto;

}



.gu-interactive #topBar{
  height:36px;
  width: 100%;
  background: rgba(255,255,255,0.8);
  margin: 0 -10px;
  position: fixed;
  top:0;
  z-index:5;
  visibility: hidden;
}





.gu-interactive .reDrawBtn{
  -webkit-font-smoothing: antialiased;
  background: #3A84B1;
  border: none;
  color: #fff;
  border-radius: 3px;
  padding: 8px 8px 7px;
  margin-top:4px;
  font-size: 12px;
  font-family: Helvetica, Artial;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid #246892;
}

.gu-interactive .reDrawBtn img{
  margin-right: 5px;
  position:relative;
  height: 10px;
  width: 10px;
}

.gu-interactive #topBar .reDrawBtn{
  left:0;
  right:0;
  margin:3px auto;
  position:absolute;
  width:80px;
}

.gu-interactive .share .reDrawBtn{
  -webkit-font-smoothing: antialiased;
  padding: 8px 8px 7px;
}

.gu-interactive .share .reDrawBtn img{
  margin-right: 2px;
}


@media (min-width: 41.25em) {
  .gu-interactive .primaryImageOfPage{
    margin: 0;
  }
  .gu-interactive h2{font-size: 3rem !important;}
  .gu-interactive h3{font-size:1.8rem !important;}
  
  .gu-interactive .group{
  width: 32%;
  margin: 0 2% 20px 0;
  }

  .gu-interactive .group:nth-of-type(2n + 1),.gu-interactive .group:nth-of-type(2n){
  margin:0 2% 20px 0;
  }

  .gu-interactive .group:nth-of-type(3n){
  margin-right: 0;
  }

.gu-interactive .share{
  text-align: center;
  margin: -5px 0 40px;
}

  .gu-interactive .share .champions img{
  width: 300px;
  height: auto;
  top:0;
}
.gu-interactive .imageOverlay{
  width:300px;
  height:200px;
  margin: 0 auto;
  left:0;
  right:0;
}
.gu-interactive .shareButtons{
    display: inline;
    margin: 0;
}

.gu-interactive #topBar{
  display: none;
}

.gu-interactive .clearboth{
    clear:both;
}

.gu-interactive .champions{
  height: auto;
  width: auto;
  padding-bottom:0;
}

.gu-interactive .images{
  display:block;
}

.gu-interactive .teamPhoto{
  display:block;
}

.gu-interactive .teamPhoto2, .gu-interactive .teamPhoto3{
  display: none;
}

}
  


@media (min-width: 61.25em) {
    .g-content { width: 60%; max-width: 620px; margin:0; float: left; }

}

@media (min-width: 960px) {
    .gu-interactive .group:nth-of-type(3n){
    float: right;
      }

      .gu-interactive .group{
        width:23.5%;
        margin-right:2%;
      }


  .gu-interactive .group:nth-of-type(2n + 1),.group:nth-of-type(2n){
  margin-right: 2%;
  margin-left: 0;
  }

  .gu-interactive .group:nth-of-type(3n + 1){
  margin-left: 0;
  }

.gu-interactive .group:nth-of-type(3n){
margin-right: 2%;
float:left;
}
.gu-interactive .group:nth-of-type(4n){
margin-right: 0;
}

    .g-body { width: 1260px; margin: 0 auto; }
    .g-content { width: 620px; }
    .g-col1 { display: block; float: left; width: 220px; padding: 100px 0 0 10px; }
    .g-col2 { display: block; float: right; width: 300px; padding: 100px 10px 0 0; }
}





