<div>
	<figure class="primaryImageOfPage">
	<img class="mainImage" src="{{ img_path }}world-cup.jpg" />
	</figure>
	<div class="divider"></div>


	<h2>Make your own draw</h2>
	<h3>This tool will generate a random, but possible, World Cup draw using the Fifa rules. The group and knockout stages are then played out using a realistic algorithm which favours the higher-ranked teams, but allows for a certain amount of upsets.</h3>


	<button class="newDrawBtn">Create a new draw</button>

<div class="moreInformation">
	<h4>Want to know more about the logic behind the draw?</h4>
	<p>Fifa divide the qualifying teams into four pots. One pot contains the eight teams with the highest current Fifa ranking, another contains teams from Africa and South America, a third contains teams from Europe and a fourth contains teams from the rest of the world. These pots are then drawn into sixteen groups of four teams. As hosts, Brazil aren't in the draw, but are alloted the first slot in Group A. Then each group is made up of four teams, one from each pot. Finally, no group is allowed to contain more than two teams from Europe or more than one team from any other continent. (This could happen if, for instance, Argentina were drawn from the top-seeds pot against Chile from the South American pot.)
	 </p>
	</div>

	<!-- <p class="currentStatus">Seeding pot A</p> -->

</div>
