<div>
	<figure class="primaryImageOfPage">
	<img class="mainImage" src="{{ img_path }}world-cup.jpg" />
	</figure>
	<div class="divider"></div>


	<h2>Create your own 2014 World Cup draw</h2>
	<h3>This tool will generate a random, but possible, World Cup draw using the Fifa rules. The group and knockout stages are then played out using a realistic algorithm which favours the higher-ranked teams, but allows for a certain amount of upsets.</h3>


	<button class="newDrawBtn">Create a new draw</button>

<div class="moreInformation">
	<h4>Want to know more about the rules behind the draw?</h4>
	<p>The 2014 World Cup draw takes place on Friday 6 December but here is your chance to create your own draw - again and again and again (until your team wins!). This magnificent interactive tool creates a draw for the group stage before using a realistic algorithm to find out who the winners of next year's World Cup will be. You are then able to share the whole draw with your friends and colleagues on Facebook and Twitter.
	 </p>
	</div>

	<!-- <p class="currentStatus">Seeding pot A</p> -->

</div>
