<div class="interactiveIntroduction">
	<figure class="primaryImageOfPage">
	<img class="mainImage" src="{{ img_path }}world-cup.jpg" />
	</figure>


	<h2>Create your own 2014 World Cup draw</h2>
	<h3>The 2014 World Cup draw takes place on Friday 6 December but here is your chance to create your own draw - again and again and again (until your team wins!). This magnificent interactive tool creates a draw for the group stage before using a realistic algorithm to find out who the winners of next year's World Cup will be. You are then able to share the whole draw with your friends and colleagues on Facebook and Twitter.</h3>


	<button class="newDrawBtn">Create a new draw</button>

<div class="moreInformation">
	<h4>Want to know more about the rules behind the draw?</h4>
	<p>Fifa divides the qualifying teams into four pots. One pot contains the eight highest ranked teams, the next teams from Africa and South America, the third teams from Europe and the fourth teams from the rest of the world. These pots are then drawn into eight groups of four teams. As hosts, Brazil are not in the draw, but are alloted the first slot in Group A. Then each group is made up of four teams, one from each pot. Finally, no group is allowed to contain more than two teams from Europe or more than one team from any other continent. (This could happen if, for instance, Argentina were drawn from the top-seeds pot against Chile from the South American pot.)
	 </p>
	</div>

	<!-- <p class="currentStatus">Seeding pot A</p> -->

</div>
