<div>
	<figure class="primaryImageOfPage">
	<img class="mainImage" src="app/imgs/world-cup.jpg" />
	</figure>
	<div class="divider"></div>

	
	<h2>Make your own draw</h2>
	<h3>This interactive will generate a random possible grouping for all the WC-teams. The ranking is based on FIFA ranking and a percentage of upset.</h3>
	
	
	<button class="newDrawBtn">Create a new draw</button>

<div class="moreInformation">
	<h4>Want to know more about the logic behind the draw?</h4>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
	
	<!-- <p class="currentStatus">Seeding pot A</p> -->

</div>
