<div class="interactiveIntroduction">
	<figure class="primaryImageOfPage">
	<img class="mainImage" src="{{ img_path }}mainImage.jpg" />
	</figure>


	<h2>Create your own 2014 World Cup draw</h2>
	<h3>Start here to choose the groups for the qualifying stage. Then run the knock-out stage simulator and share your result on Facebook or Twitter.</h3>


	<button class="newDrawBtn">Create a new draw</button>

<div class="moreInformation">
	<h4>Want to know more about the rules behind the draw?</h4>
	<p>Fifa divides the qualifying teams into four pots. One pot contains the eight highest ranked teams, the next teams from Africa and South America, the third teams from Europe and the fourth teams from the rest of the world. These pots are then drawn into eight groups of four teams. As hosts, Brazil are not in the draw, but are alloted the first slot in Group A. Then each group is made up of four teams, one from each pot. Finally, no group is allowed to contain more than two teams from Europe or more than one team from any other continent. (This could happen if, for instance, Argentina were drawn from the top-seeds pot against Chile from the South American pot.)
	 </p>
	</div>

	<!-- <p class="currentStatus">Seeding pot A</p> -->

</div>
